{% load static %}


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="overflow: hidden;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="40" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          {% if request.user.is_staff %}
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
          <a class="nav-link" href="{% url 'products' %}">Products</a>
          {% else %}
          <a class="nav-link" href="{%url 'account_settings'%}">Settings</a>
          {% endif %}

          <a class="nav-link" href="{%url 'home'%}"> Hello, {{request.user}}</a>
          <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
         
        </div>
      </div>
    </div>
  </nav>