<div class="row mb-3">
    <div class="col-12 col-md-4">

        <div class="card text-center mb-3" id="total-orders">
            <div class="card card-header">
                <h5>Total Orders</h5>
            </div>
            <div class="card card-body">
                <h4>{{totalOrders}}</h4>

        </div>
        </div>
    </div>
    <div class="col-12 col-md-4">

        <div class="card text-center mb-3" id="orders-delivered">
            <div class="card card-header">
                <h5 class="card-title">Orders Delivered</h5>

            </div>
            <div class="card card-body">
                <h4>{{deliveredOrders}}</h4>

        </div>
        </div>
    </div>
    <div class="col-12 col-md-4">

        <div class="card text-center mb-3" id="orders-pending">
            <div class="card card-header" >
                <h5 class="card-title"> Orders Pending</h5>

            </div>
            <div class="card card-body">
                <h4>{{pendingOrders}}</h4>
        </div>
        </div>
    </div>

</div>